nav {
  margin-top: auto;
  min-height: 83px;
  text-align: center;
  border-top: 1px solid #c4ecfa;
}

nav a {
  position: relative;
  opacity: 0.46;
}

nav a:hover {
  opacity: 1;
  transition: all 0.6s ease-in-out;
}

nav a.active {
  opacity: 1;
}

nav a.active::after {
  content: ".";
  position: absolute;
  left: 8px;
  top: 7px;
  font-size: 2rem;
  border-radius: 50%;
  color: #42c3eeed;
}
